body{
font-family: "Roboto", "Helvetica", "Sans-serif";
margin: 0;
padding: 0;
font-size: 1rm;
font-weight: 400;
color: #777;
line-height: 1.7;
}

#nav{
    
    text-align: center;
    margin-right: 50px; 
    margin-top: 16px;
     margin-bottom: 16px;
      margin-left: 50px; 
}

.container {
max-width: 1140px;
margin: 0 auto;
padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family:'Times New Roman',  serif;
    font-weight: 800;
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}


h2{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h3 {
font-size: 1.4rem;
font-weight: 300;
}


p {
    margin: 0 0 1rem;
}

button.rounded {

    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
}

#contact h2 {
   background: #f8f9fa;
   padding: 4rem 0 8rem;
}

#contact h2 {
    text-align: center;
    margin-bottom: 4rem;
}

#home h2 {
    background: #f8f9fa;
    padding: 4rem 0 8rem;
 }
 
 #home h2 {
     text-align: center;
     margin-bottom: 4rem;
 }

 
 #about-me h2 {
    background: #f8f9fa;
    padding: 4rem 0 8rem;
 }
 
 #about-me h2 {
     text-align: center;
     margin-bottom: 4rem;
 }
 

#form-container {
   width: 58%;
   background: #fff;
   padding: 3rem;
   box-sizing: border-box;
}

#form-container h3 {
   color: #000;
   font-family: 'Times New Roman', serif;
    margin-bottom: 2rem;
}

#info-container {
    padding: 3rem;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}



#table-container {
    width: 58%;
    background: #fff;
    padding: 3rem;
    box-sizing: border-box;
 }
 
 #table-container h3 {
    color: #000;
    font-family: 'Times New Roman', serif;
     margin-bottom: 2rem;
 }

 
#form-container label {
    display: block;
    color: #000;
    margin-top: 1rem;
}

#form-container input,
#form-container textarea {
    display: block;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1rem;
    color: #495057;
}

#form-container textarea {
    height: 170px;
    margin-bottom: 2rem;
    resize: none;
}


#address-container {
    width: 38%;
    background: #fff;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 300px;
}

#address-container label {
    font-weight: 700;
    display: block;
    margin-top: 2rem;
}

#address-container label::first-child{
    margin-top: 0;
}

#address-container address {
    margin-bottom: 1.5rem;
    font-style: normal;
}

#address-container a{
    text-decoration: none;
    color: #3e43eb;
}

#address-container a:hover{
    text-decoration: underline;
}

#form-container {
    padding: 1.5rem;
}

#image-container p {
    padding-top: 5px;
    text-align: center;
    box-sizing: border-box;
 }

 #image-container {
    margin-left: auto;
    margin-right: auto;
 }

.image{
    border-radius: 50% 50% 50% 50%;
    width: 350px;
    height: 400px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

#social-container{
    font-size: 3rem;
    text-align: center;
}

footer{
    padding: 4rem 0;
    text-align: center;
}